six
matplotlib
numpy
pandas
scipy
scikit_learn
tensorflow
tensorflow_probability
tqdm
imageio
fs
click
git+https://github.com/jin-jae/zhusuan-tf-compat.git
git+https://github.com/jin-jae/tfsnippet-tf-compat.git
