six
matplotlib
numpy
pandas
scipy
scikit_learn
tensorflow[and-cuda]
tensorflow_probability
tqdm
imageio
fs
click
tensorrt
git+https://github.com/yyexela/tfsnippet-tf-compat.git
git+https://github.com/yyexela/zhusuan-tf-compat.git
